{
  "submission_id": "my-bottle-batch-001",
  "source_label": "Local retail bottle photograph batch",
  "submission_type": "batch",
  "applications": [
    {
      "application_id": "my-bottle-application-001",
      "beverage_category": "distilled_spirits",
      "fields": {
        "brand_name": "THE GLENLIVET",
        "class_type": "SINGLE MALT SCOTCH WHISKY",
        "alcohol_content": "40% Alc./Vol. (80 Proof)",
        "net_contents": "750 mL",
        "producer_name_address"THE DISTILING COMPANY. NEW YORK, NY",
        "country_of_origin": "SCOTLAND"
      },
      "image_filenames": [
        "glenlivet-good-front.jpg",
        "glenlivet-good-back.jpg"
      ]
    },
    {
      "application_id": "my-bottle-application-002",
      "beverage_category": "wine",
      "fields": {
        "brand_name": "RED-BLEND-PORTUGAL",
        "class_type": "RED WINE",
        "alcohol_content": "ALC. 13.5% BY VOL.",
        "net_contents": "750ML",
        "producer_name_address": "TRI-VIN IMPORTS INC. NEW ROCHELLE, NY 10801",
        "country_of_origin": "PORTUGAL"
      },
      "image_filenames": [
        "red-blend-portugal-good-front.jpg",
        "red-blend-portugal-good-back.jpg"
      ]
    }
  ]
}
